awscli==1.14.13
botocore==1.8.17
colorama==0.3.7
docutils==0.14
graphviz==0.8.2
jmespath==0.9.3
numpy==1.14.1
pyasn1==0.4.2
python-dateutil==2.6.1
PyYAML==3.12
rsa==3.4.2
s3transfer==0.1.12
scipy==1.0.0
six==1.11.0
